<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.happypeng.sumatora.android.sumatoradictionary">

    <application
        android:name=".DictionaryApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_sumatora_icon"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".DictionaryBookmarksImportActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:mimeType="text/xml"
                    android:scheme="content" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Dictionary"
            android:theme="@style/AppTheme"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:theme="@style/Theme.Mal.Light" />
        <activity
            android:name=".LicenseActivity"
            android:label="License"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AboutActivity" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="org.happypeng.sumatora.android.sumatoradictionary.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>